In [1]:
# Exercise-2 IBM- Tools for Data Science Task

In [2]:
## Exercise-3 Introduction

In [7]:
''' Exercise-4Data Science Languages
1. Pyhton
2. R
3. Julia
4. SQL
'''

'Data Science Languages\n1. Pyhton\n2. R\n3. Julia\n4. SQL\n'

In [8]:
""" Exercise-5 Data Science Libaries
1. Numpy
2. Pandas
3. Seaborn
4. Matplotlib
5. Scikit-learn
6. Tenserflow
7. Keras
"""

'Data Science Libaries\n1. Numpy\n2. Pandas\n3. Seaborn\n4. Matplotlib\n5. Scikit-learn\n6. Tenserflow\n7. Keras\n'

In [9]:
""" Exercise-6 Data Science Tools

| Tool Name          | Description                                       |
|--------------------|---------------------------------------------------|
| **Jupyter Notebook** | Interactive computing and data analysis tool.    |
| **RStudio**        | Integrated development environment (IDE) for R.    |
| **VS Code**        | Lightweight code editor with excellent Python support.|
| **Spyder**         | Powerful IDE for scientific computing with Python. |
| **Tableau**        | Data visualization and business intelligence tool.|
| **Git**            | Distributed version control system.               |
| **Docker**         | Platform for automating containerized applications.|
| **Apache Spark**   | Distributed computing system for big data processing.|

"""

' Data Science Tools\n\n| Tool Name          | Description                                       |\n|--------------------|---------------------------------------------------|\n| **Jupyter Notebook** | Interactive computing and data analysis tool.    |\n| **RStudio**        | Integrated development environment (IDE) for R.    |\n| **VS Code**        | Lightweight code editor with excellent Python support.|\n| **Spyder**         | Powerful IDE for scientific computing with Python. |\n| **Tableau**        | Data visualization and business intelligence tool.|\n| **Git**            | Distributed version control system.               |\n| **Docker**         | Platform for automating containerized applications.|\n| **Apache Spark**   | Distributed computing system for big data processing.|\n\n'

In [10]:
## Exercise-7 Arithmetic Examples
#Addition
25+11
#Minus
50-43
#Multiplication
7*6
# Division
100/4

25.0

In [11]:
## Exercise-8
addition = 25+11
Multiply = 6*8

In [15]:
##  It's 18.54 as I write this code soo I convert this time.
now= 60*18+54
print(now)
hour_now = now/60

1134

In [16]:
print(hour_now)

18.9

In [17]:
"""
Exercise 10 -Insert a markdown cell to list Objectives.

1. Understand basic arithmetic operations in Python.
2. Explore how to convert units, such as minutes to hours.
3. Practice using Jupyter Notebook for interactive coding.
4. Experiment with different code cells and observe their outputs.
5. Have hands-on experience with data science concepts.

"""

'\nExercise 10 -Insert a markdown cell to list Objectives.\n\n1. Understand basic arithmetic operations in Python.\n2. Explore how to convert units, such as minutes to hours.\n3. Practice using Jupyter Notebook for interactive coding.\n4. Experiment with different code cells and observe their outputs.\n5. Have hands-on experience with data science concepts.\n\n'

In [18]:
"""
Exercise 11 - Create a markdown cell to indicate the Author’s name.

This notebook written by Metin Mirza Vatansever.

"""

'\nExercise 11 - Create a markdown cell to indicate the Author’s name.\n\nThis notebook written by Metin Mirza Vatansever.\n\n'